.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: #d1c9c9b4;
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: #d1c9c9b4;
}

.quick__links-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contacts li span,
.footer__contacts li p {
  color: #d1c9c9b4;
}

.footer__contacts li span {
  font-size: 1.2rem;
}

.footer__contacts li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: #d1c9c9b4;
  margin-top: 50px;
  font-size: 0.8rem;
  text-align: center;
}